[user]
	name = Aditya Pokharel
	email = pokhareladitya.pro@gmail.com
[core]
	pager = /usr/sbin/bat -n --paging=always --wrap=never
[alias]
  lag = log --all --graph --date=local
  loag = log --oneline --all --graph
[init]
	defaultBranch = main
